
.InputWrapper{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1em 0em;;
}
.ResultURL{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:89%;
    padding: 1rem 1rem 1rem 3rem;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.ResultURL button{
    padding: 0.5rem 1rem;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.594);
}

.ResultURL button:hover {
    transform: translateY(-2px);
    background: rgba(255, 255, 255, 0.844);
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.1);
}